h1 {
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.418);
    width: 80%;
    
}
#profilepic {
    width: 20%;
    text-align: "center";
}     

html {
    background-color: gray;}
body {
    background-color: rgba(222, 220, 228, 0.671);
}
ol {
    font-style: bold;
    font-family: 'lucida Sans';

}
h2 {font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: rgba(0, 255, 255, 0.418);
    width: 50%
    
    
}